.mainblog {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: var(--background3);


    border-top: 1rem solid var(--accent);
}

.main {
    width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 55em) {
    .main {
        width: 100%;
    }
}

@media (max-width: 38.75rem) {

    .main {
        padding: 0;
        margin: 0;
    }

    .mainblog {
        padding: 1rem;
    }

    .userPost {
        padding: 1rem;
        gap: 1rem;
        justify-content: center;
    }
}


.headerblog {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-detail);
}

.divider {
    flex-grow: 1;
    height: 0.0625rem;
    background-color: var(--text-detail);
}

.userPost {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    position: relative;
    box-sizing: border-box;
    background-color: var(--background2);
}

.userImage {
    flex-shring: 0;
    width: 7.75rem;
    height: 7.75rem;
    border: 0.5rem solid var(--accent);
    box-sizeng: content-box;
    border-radius: 1000rem;
}

.userDescription {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--text-detail);

}


.commentSection {
    background-color: var(--background3);
    width: 100%;

    border-top: 1rem solid var(--accent);
    position: relative;
    padding: 2rem;
	margin-top: 2rem;
}



.makeComment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.makeComment h2 {

    font-weight: 400;
}

.makeComment textarea {
    max-width: 100%;
    min-width: 100%;
    padding: 1rem;
    min-height: 6rem;
	background-color: var(--background2);
	border:none;
    box-shadow: 5px 11px 14px 6px rgba(0,0,0,0.06) inset;
    -webkit-box-shadow: 5px 11px 14px 6px rgba(0,0,0,0.06) inset;
    -moz-box-shadow: 5px 11px 14px 6px rgba(0,0,0,0.06) inset;
	font-family: Nunito, "sans-serif";
	color: var(--text-content);
}