.mainblog {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	box-sizing: border-box;
	background-color: var(--background3);
}

.main {
	width: 100%;
	display: flex;
	min-width: 30rem;
	max-width: 50rem;
	align-items: center;
	flex-direction: column;
}

.headerblog {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.8rem;
	color: var(--text-detail);
}

.divider {
	flex-grow: 1;
	height: 0.0625rem;
	background-color: var(--text-detail);
}

.userPost {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	box-sizing: border-box;
	background-color: var(--background2);
}

.userImage {
	flex-grow: 1;
	flex-shring: 0;
	width: 6.25rem;
	height: 6.25rem;

	border-radius: 1000rem;
}

.userDescription {
	margin-top: 1rem;
	font-size: 0.8rem;
	color: var(--text-detail);
}

@media (max-width: 37.5rem) {
	.mainblog {
		padding: 1rem;
	}

	.userPost {
		padding: 1rem;
		gap: 1rem;
		justify-content: center;
	}
}
