.postpage {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
	grid-gap: 2rem;
	width: 100%;
	padding-top: 2rem;
}

.content {
	display: grid;
	grid-template-columns: 2fr 0.8fr;
	grid-template-rows: auto;
	grid-gap: 1rem;
}

@media (max-width: 55rem) {
	.postpage {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		width: 100%;
		padding-top: 1rem;
	}

	.space {
		display: none;
	}
}

@media (max-width: 50rem) {
	.postpage {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		width: 100%;
		padding-top: 0rem;
	}

	.content {
		grid-template-columns: 1fr;
	}
}

.aside {
	width: 100%;
	min-width: 10rem;
	background-color: var(--background3);
}
