body {
	background-color: #09090b;
	color: #fafafa;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1rem;
	font-family: "__Nunito_5e880a";
}

a {
	color: #bfdbfe;
}
a:visited {
	color: #818cf8;
}
